@use "../../styles/partials/mixins" as *;

.tile {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12.5%;
  height: 12.5%;
  color: black;
  transition: background-color 0.3s, color 0.3s;

  &--default {
    background-color: green;
    &--alternate {
      background-color: lightgoldenrodyellow;
    }
  }

  &--red {
    background-color: red;
    &--alternate {
      background-color: rgb(250, 200, 200);
    }
  }

  &--moveable {
    background-color: yellow;
    color: black;
    transition: background-color 0s, color 0s;
  }

  &--check {
    background-color: red;
  }

  &__piece {
    height: 60%;

    &--large {
      height: 90%;
    }
  }
}
