@use "../../styles/partials/mixins" as *;

.settings {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    width: 80vh;
  }

  &__wrapper {
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__button {
    height: 2rem;
    width: 2rem;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid black;
  }
  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__select-container {
    display: flex;
    justify-content: center;

    align-items: center;
  }

  &__select {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  &__text {
    margin-right: 1rem;
  }
}
