@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.settings {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding-bottom: 2rem;
  border: 4px solid black;
  margin-top: 1rem;
  transition: background-color 0.5s, color 0.5s;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 4px 12px;
  @include tablet {
    margin-top: 0;
    width: 100%;
  }

  &--dark {
    @include dark-mode;
  }

  &__wrapper {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__button {
    height: 2rem;
    width: 2rem;
    border-radius: 50px;
    background-color: $darkmode-black;
    border: 1px solid black;

    &--dark {
      background-color: white;
    }
  }
  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__select-container {
    display: flex;
    justify-content: center;

    align-items: center;
  }

  &__select {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  &__text {
    margin-right: 1rem;
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    animation: slide-down 1.4s;

    &--hide {
      animation: slide-up 0.8s;
      max-height: 1px;
      overflow-y: hidden;
    }
  }
}

@keyframes slide-down {
  from {
    max-height: 1px;
    overflow-y: hidden;
  }
  to {
    max-height: 1000px;
  }
}

@keyframes slide-up {
  from {
    max-height: 1000px;
  }
  to {
    max-height: 1px;
    overflow-y: hidden;
  }
}
